#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-head {
  background-color: var(--palette-background-default);
  border-bottom: 0.25rem solid var(--palette-primary-main);
  text-decoration: none;
  max-width: 75rem;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0;

  > nav {
    order: 1;
    width: 100%;
    display: none;
    flex-direction: column;

    > a {
      color: var(--palette-text-primary);
      text-align: center;
      text-decoration: none;
      padding: 0.25rem 1rem;
      transition: background-color 0.25s;

      @media (hover: hover) {
        &:hover {
          background-color: var(--palette-primary-main);
          color: var(--palette-primary-contrastText);
        }
      }
    }
  }
}

.site-title {
  color: var(--palette-text-primary);
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  user-select: none;
  padding: 0.75rem 1rem 0.75rem 1rem;
  margin-right: auto;
}

.menu-open > nav {
  display: flex;
}

.header-theme-button {
  margin-left: 1rem;
}

.header-menu-button {
  margin: 0 1rem;
}

main {
  min-width: 300px;
  max-width: 60vw;
  width: 100%;
  padding: 1rem 0;
  margin: auto;
  flex: 1;
  display: flex;
}

.page-foot {
  background-color: var(--palette-primary-main);
  text-align: center;
  padding: 1rem;

  > nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  a {
    color: var(--palette-primary-contrastText);
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .page-head > nav {
    order: 0;
    flex: 1;
    width: auto;
    display: flex;
    flex-direction: row;

    > a {
      padding: 0.75rem 1rem;
    }
  }

  .header-theme-button {
    margin-right: 1rem;
    display: block;
  }

  .header-menu-button {
    display: none;
  }

  .page-foot > nav {
    flex-direction: row;
    gap: 5rem;
  }
}
