:root {
  &.light {
    --icon-color: rgba(0, 0, 0, 0.54);
    --icon-color-inactive: rgba(0, 0, 0, 0.26);
    --link-color: var(--palette-primary-main);
    --link-underline-color: rgba(var(--palette-primary-mainChannel) / 0.4);
  }

  &.dark {
    --icon-color: rgba(255, 255, 255, 1);
    --icon-color-inactive: rgba(255, 255, 255, 0.3);
    --link-color: var(--palette-primary-light);
    --link-underline-color: rgba(var(--palette-primary-lightChannel) / 0.4);
  }
}

html {
  overscroll-behavior-y: none;
}

body {
  background-color: var(--palette-background-default);
  font-family: Quicksand, sans-serif;
  font-size: 18px;
  color: var(--palette-text-primary);
  line-height: 1.5;
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.fixed-width {
  overflow: hidden;
}
